@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    min-height: 100vh;
    color: white;
    font-size: clamp(1.125rem, 2vw, 1.25rem);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #282a2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;

}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.inline {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.inline-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .logo {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px calc(100vw * 0.13);
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }

    .navbar a {
        margin: 0;
    }
}