form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    width: 100%;
}

.globals-btn {
    margin-bottom: var(--space-md);
}

.result {
    margin-top: var(--space-lg);
}

.result h2 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-md);
    color: var(--main-text);
}

.result div {
    background-color: var(--main-lighter);
    padding: var(--space-sm);
    border-radius: var(--main-radius);
    margin-bottom: var(--space-sm);
    color: var(--secondary-text);
}

.tag {
    display: inline-block;
    padding: var(--space-xxs) var(--space-xs);
    margin-right: var(--space-xxs);
    background-color: var(--button-background);
    color: var(--main-text);
    border-radius: calc(var(--main-radius) - 2px);
}

.combination {
    padding: var(--space-sm);
    margin-bottom: var(--space-sm);
    border: 1px solid var(--input-border);
    border-radius: var(--main-radius);
    background-color: var(--input-background);
}

.competitor {
    flex: 1;
    min-width: 300px;
    background-color: var(--secondary-background);
    padding: var(--space-md);
    border-radius: var(--main-radius);
}